<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <img src="/assets/bar.jpg" alt="" class="banner-img">
    <div class="search">
        Events within
        <button id='radius-btn' class='drop-btn'>50 miles</button>
        <div id="radius-dropdown" class="dropdown-content">
          <a href="#">5 miles</a>
          <a href="#">10 miles</a>
          <a href="#">25 miles</a>
          <a href="#">50 miles</a>
          <a href="#">100 miles</a>
        </div>
        of
        <button id='radius-btn' class='drop-btn'>Durham, NH</button>
        <div id="radius-dropdown" class="dropdown-content">
          <input type="text" name="location" placeholder='location' value="">
        </div>
    </div>
  </body>

  <script src='/scripts/dropdown.js'>
  </script>
</html>
