<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <img src="/assets/bar.jpg" alt="" class="banner-img">
    <div class="search">
        Events within
        <div class="dropdown">
        <button id='radius-btn' class='drop-btn'>50 miles</button>
        <div id="radius-dropdown" class="dropdown-content">
          <a href="#">2 miles</a>
          <a href="#">5 miles</a>
          <a href="#">10 miles</a>
          <a href="#">25 miles</a>
        </div>
        </div>
        of
        <div class="dropdown">
        <button id='location-btn' class='drop-btn'>Durham, NH</button>
        <div id="location-dropdown" class="dropdown-content">
          <input type="text" name="location" id='location' class="dropdown-content" placeholder='City or Zipcode' value="">
        </div>
        </div>
    </div>

    <div class="dashboard">
      <% console.log(data) %>
      <% for (var i=0; i <data.length; i++){ %>
        <div class="event-wrapper">
          <h2><%= data[i].name %></h2>
          <a href="<%=data[i].url %>">
            <img class="" src="<%= data[i].image %>">
          </a>
          <button>0 people going</button>
        </div>
      <% } %>
    </div>
  </body>

  <script src='/scripts/dropdown.js'>
  </script>
</html>
